* {
  margin: 0;
  padding: 0;
  /* display: block; */
}
.main-nav {
  width: 100%;
  height: 5rem;
  display: grid;
  grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.logo {
  display: grid;
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
}
.content {
  border: 2px solid black;
  padding: 3px;
  width: 50%;
  background-color: rgba(50, 50, 93, 0.25);
  margin: 4rem auto;
  border-radius: 10px;
}

.forms {
  /* background-color: red; */
  margin-top: 1rem;
  margin-left: 3rem;
  font-size: 1rem;
}
.inputs {
  padding: 0.3rem;
  font-weight: 600;
  display: block;
}

.button {
  margin-left: 3.3rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
button {
  font-size: 1.2rem;
  padding: 0.3rem;
  border-radius: 5px;
  background-color: rgb(115, 156, 199);
}

input {
  border-radius: 5px;
  padding: 0.4rem;
  width: 70%;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  color: black;
  margin-top: 3rem;
  text-align: center;
  font-weight: 700;
}

.footer {
  font-size: 1rem;
  font-weight: 700;
  margin-left: 4rem;
  margin-bottom: 1rem;
}

.error {
  font-weight: bold;
  font-size: 0.875rem;
  text-align: center;
}
